@{
    ViewBag.Title = "Home Page";
}

<h1>Lending Library</h1>

<div>
    @Html.ActionLink("People Management", "Index", "People")
</div>
<div>
    @Html.ActionLink("Item Management", "Index", "Items")
</div>